* {
    box-sizing: border-box;
}


body {

    margin: 0;

    font-family: Arial, Helvetica, sans-serif;

    background: #f4f7fb;

    color: #222;

}



.hero {

    background: linear-gradient(
        135deg,
        #2563eb,
        #1e40af
    );

    color: white;

    padding: 50px 20px;

    text-align: center;

}



.hero h1 {

    font-size: 40px;

    margin-bottom: 10px;

}



.hero p {

    font-size: 18px;

}



form {

    margin-top: 30px;

}



input {

    width: 60%;

    padding: 15px;

    border-radius: 8px;

    border: none;

    font-size: 16px;

}



button {

    padding: 15px 25px;

    margin-left: 10px;

    border: none;

    border-radius: 8px;

    background: #22c55e;

    color: white;

    cursor: pointer;

    font-size: 16px;

}



.container {

    max-width: 1100px;

    margin: 40px auto;

    padding: 20px;

}



.jobs-grid {

    display: grid;

    grid-template-columns: repeat(
        auto-fit,
        minmax(300px,1fr)
    );

    gap: 25px;

}



.job-card {

    background: white;

    padding: 25px;

    border-radius: 15px;

    box-shadow: 0 5px 15px rgba(
        0,
        0,
        0,
        0.1
    );

}



.company-logo {

    width: 70px;

    height: 70px;

    object-fit: contain;

}



.job-card h3 {

    color: #1e40af;

}



.company {

    font-weight: bold;

}



.description {

    color: #555;

    line-height: 1.5;

}



.apply-btn {

    display: inline-block;

    margin-top: 15px;

    background: #2563eb;

    color: white;

    padding: 12px 20px;

    text-decoration: none;

    border-radius: 8px;

}



.apply-btn:hover {

    background: #1d4ed8;

}



.message {

    background: white;

    padding: 20px;

    border-radius: 10px;

    text-align: center;

}