body {

    margin: 0;

    font-family: Arial, Helvetica, sans-serif;

    background: #f5f7fb;

    color: #333;

}



.hero {

    background: linear-gradient(
        135deg,
        #2563eb,
        #1e40af
    );

    color: white;

    padding: 60px 20px;

    text-align: center;

}



.hero h1 {

    font-size: 45px;

}



.hero p {

    font-size: 20px;

}



form {

    margin-top: 30px;

}



input {

    width: 350px;

    padding: 15px;

    border-radius: 8px;

    border: none;

    font-size: 16px;

}



button {

    padding: 15px 25px;

    margin-left: 10px;

    border: none;

    border-radius: 8px;

    background: #22c55e;

    color: white;

    cursor: pointer;

    font-size: 16px;

}



.container {

    width: 85%;

    margin: 40px auto;

}



.jobs {

    display: grid;

    grid-template-columns: repeat(
        auto-fit,
        minmax(300px,1fr)
    );

    gap: 25px;

}



.job-card {


    background:white;

    padding:25px;

    border-radius:15px;

    box-shadow:
    0 5px 15px rgba(0,0,0,0.1);

}



.job-card h3 {

    color:#2563eb;

}



.job-card a {

    display:inline-block;

    margin-top:15px;

    background:#2563eb;

    color:white;

    padding:10px 18px;

    border-radius:8px;

    text-decoration:none;

}



.error {

    background:#fee2e2;

    padding:15px;

    color:#991b1b;

}
